@model NidTid.Domain.Entities.Customer

@{
    ViewBag.Title = "Kunder";
}

<div class="container">
    <div class="row-fluid top-row">
        <div class="span3">
            Sök kund:<input type="text" class="input-medium search-query" name="customerAC" id="customerAC" />
        </div>
        <div class="span9">
            <select id="projectList" name="projectList">
                <option value="null">-- Välj Projekt --</option>
                @if (Model.Project != null) {
                    foreach (var p in Model.Project) { 
                        <option value=@p.Id>@p.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row top-row">
        <div class="span3 well">
            @{
                Html.RenderPartial("_CustomerPartial");
            }
        </div>
        <div class="span9" id="projectWrapper">
            @{
                Html.RenderAction("ProjectDetails", "Project");
            }
            
        </div>
    </div>
</div>

            



