
@{
    ViewBag.Title = "Kunder";
}
<div id="customerTopDiv">
    @{
        Html.RenderPartial("_CustomerSelectBox");
    }
</div>
<div id="customerContent">
    <fieldset>
        <legend>@Model.Name</legend>
        @if (TempData["message"] != null) { 
            <div class="message">
                @TempData["message"]
            </div>
        }
    <div id="customerWrapper">
        @{
            Html.RenderPartial("_CustomerPartial");
        }
    </div>

    <div id="projectWrapper">
        @{
            Html.RenderAction("ProjectDetails", "Project");
        }
    </div>
    </fieldset>
</div>


