@model NidTid.Domain.Entities.Customer

@{
    ViewBag.Title = "Kunder";
}

<div class="container" id="customerWrapper">
    <div class="row-fluid">
        <div class="span6">
            <p>
                Sök kund:<input type="text" class="input-medium search-query" name="customerAC" id="customerAC" />
            </p>
        </div>
        <div class="span6">
            <a class="pull-right" id="newCustomer" href="#customerTab"><img src="~/Content/Icons/users.png" width="30" height="30">Ny kund...</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3><img src="~/Content/Icons/customers.png" width="90" height="90">Kund- och projektdatabas</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs" id="customerTabs">
                <li class="tab-link"><a href="#customerTab" data-toggle="tab">Kunduppgifter</a></li>
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projekt</a>
                    <ul id="projectList" class="dropdown-menu">
                        @if (Model.Name != null) {
                            <li class="tab-link"><a id="newProject" href="#projectsTab" data-toggle="tab" data-customerId="@Model.Id"><img src="~/Content/Icons/folder.png" width="22" height="22">Nytt projekt</a></li>
                            <li class="divider"></li>
                        }
                        @if (Model.Project != null) {
                            foreach (var p in Model.Project) {
                                <li data-id="@p.Id" class="tab-link project-link"><a href="#projectsTab" data-toggle="tab">@p.Name</a></li>
                            }
                        }
                    </ul>  
                </li>
                <li class="tab-link"><a href="#billsTab" data-toggle="tab">Fakturor</a></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="container tab-content">
                <div class="tab-pane" id="customerTab">
                    @{
                        Html.RenderPartial("_CustomerPartial");
                    }
                </div>
                <div class="tab-pane" id="projectsTab">
                    <div class="row-fluid">
                        <div class="span12" id="projectWrapper">
                            @{
                                Html.RenderAction("ProjectDetails", "Project");
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="billsTab">
                    <p>Inga fakturor registrerade</p>
                    <a class="btn btn-locked btn-info" id="createBillBtn"><i class="icon-file icon-white"></i>Skapa Faktura</a>
                </div>
            </div>
        </div>
    </div>
</div>
