/* Main Layout
------------------------------------------------------------*/
#header {
    background: #5c5c5c;
    border-bottom: 4px solid black;
}

#big-body {
    margin-top: 86px;
    background: #f3ebd3;
}

#content {
    background: #fff;
    border-left: 2px solid #5c5c5c;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    height:1000px;
}

#left-menu {
    margin-top: 30px;   
}

.top-row {
    margin-top: 20px;
}



/*--------------------------------Form styles-----------------------------*/


.smallField {
    width: 2em;
}

div.ui-datepicker{
    font-size:12px;
}



/*---------Element styles---------------------*/



/*-------- Table styles--------------*/

.hiddenRow {
    padding: 0 !important;
}